**/*
!dist/**/*
!package.json
!README.md
!LICENSE
.git
.gitignore
node_modules
src
test
tests
*.ts
!dist/**/*.d.ts
tsconfig.json
gulpfile.js
.eslintrc.js
.eslintrc.prepublish.js
.prettierrc.js
.editorconfig
dist/tsconfig.tsbuildinfo
dist/package.json
dist/**/*.js.map
